body::-webkit-scrollbar {
 
    display: none;
 
}

*{
    overflow-x: hidden;
}

section, div{
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
  margin: 0;
}

.img-reseau{
    width: 8%;
}

.circle{
    position: absolute;
    border: solid 0.5vw white;
    text-align: center;
}

.burger{
    position: absolute;
    margin-top: -5%;
    margin-left: 90%;
    width: 3%;
}

.ajouter{
    text-align: center;
    border-radius: 2px;
    border: none;
    padding: 8px;
}

.logo{
    width: 6%;
    margin-left: 5%;
    margin-top: 1%;
}

.wallpaper{
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -5%;
}

.active{
    color: var(--active);
}

.title{
    width: 37%;
}

.commander{
    position: absolute;
    background-color: var(--button);
    width: 16%;
    height: 4.5vw;
    margin-top: 30%;
    margin-left: 12%;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.commander:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.commander:active{
    transform: scale(0.8);
    transition: all 0.2s;
}

.home{
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
    width: 70%;
    height: 40%;
}

ul{
    padding: 0px;
}

li a{
    padding: 0px;
}

.top-produit{
    background-color: white;
    width: 100%;
    height: auto;
}

section{
    width: 100%; height: auto;
}

@media (max-width: 2410px){

    .cursor {
        position: fixed;
        display: flex;
        z-index: 2;
        width: 30px;
        height: 30px;
        background: goldenrod;
        pointer-events: none;
        opacity: 0.8;
        filter: blur(10px);
        transform: translate(-50%, -50%);
    }

    .burger{
        visibility: hidden;
    }

    .menu{
        margin-left: 27vw;
        gap: 10%;
        width: 40vw;
    }

    .wallpaper{
        z-index: -1;
        position: absolute;
        margin-top: 0px;
        top: 0px;
    }

    .top-produit{
        margin-top: 65%;
    }

    .sub-title{
        position: absolute;
        margin-top: 6%;
    }

    .title{
        position: absolute;
        margin-top: 8%;
    }

    .produit{
        display: flex;
        flex-wrap: wrap;
        margin-top: -6%;
        justify-content: center;
    }

    .produit>div{
        width: 30%;
        height: 10%;
        margin-left: -3%;
        margin-top: 15%;
        margin-bottom: 15%
    }

    .card{
        position: absolute;
        margin-top: 0%;
        margin-left: 3%;
        width: 25%;
    }
    .food{
        position: absolute;
        width: 14%;
        margin-left: 9%;
        margin-top: 1%;
    }

    #baguette{
        margin-left: 7%;
        width: 19%;
    }

    .prix{
        position: absolute;
        margin-top: 16%; margin-left: 4.5%;
    }

    .info{
        position: absolute;
        width: 12%;
        margin-top: 21.5%; margin-left: 4.5%;
    }

    .ajouter{
        position: absolute;
        margin-top: 22%; margin-left: 18%;
    }

    .ajouter:hover{
        transform: scale(1.1);
        transition: all 0.2s;
    }

    .ajouter:active{
        transform: scale(0.9);
        transition: all 0.2s;
    }

    .info-bonus{
        position: absolute;
        margin-top: 20%;
        margin-left: 18%;
        width: 8vw;
        visibility: hidden;
    }

    .circle{
        margin-top: 15%; margin-left: 20%;
        width: 3vw; height: 3vw;
        border-radius: 50%;
    }

    .circle:hover ~ .info-bonus{
        visibility: visible;
    }

    .i>p{
        margin-top: 10%;
    }

    .fond-reduction{
        margin-top: 20%;
        width: 100%;
    }

    .text-reduction{
        position: absolute;
        margin-top: -35%;
        margin-left: 16%;
        width: 70%;
        height: 80%;
    }

    .title-reduction{
        margin-left: 27.5%;
        width: 44%;
    }

    .delice{
        margin-top: 5%;
        margin-left: 29%;
        width: 40%;
    }

    .en-savoir-plus{
        position: absolute;
        background-color: var(--button);
        width: 18%; height: 9%;
        margin-top: 45%; margin-left: -59%;
        border-radius: 10px;
        border: none;
    }

    .en-savoir-plus:hover{
        transform: scale(1.1);
        transition: all 0.2s;
    }

    .en-savoir-plus:active{
        transform: scale(0.8);
        transition: all 0.2s;
    }

    .liste-gateau{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 6%;
        margin-left: 0%;
        border-bottom: solid gray;
    }

    #use{
        border-bottom: solid 0.7vw var(--button);
    }

    .section-cake{
        display: flex;
        flex-wrap: wrap;
        margin-top: -55%;
        justify-content: center;
    }

    .cake{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
        margin-left: -2%
    }

    .section-cake>.cake>div:not(.top-produit, .name, .price, .cake){
        width: 30%;
        height: auto;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .img-cake{
        width: 100%;
    }

    .img-about{
        margin-top: 10%;
        width: 100%;
    }

    .about-it{
        position: absolute;
        margin-left: 42%; margin-top: 12%;
    }

    .text-p{
        position: absolute;
        margin-top: -27%; margin-left: 35.2%;
        width: 29%;
    }

    .lire-plus{
        position: absolute;
        background-color: var(--button);
        width: 14%; height: 9%;
        margin-top: 35%; margin-left: -57%;
        border-radius: 10px;
        border: none;
    }

    .lire-plus:hover{
        transform: scale(1.1);
        transition: all 0.2s;
    }

    .lire-plus:active{
        transform: scale(0.8);
        transition: all 0.2s;
    }

    .section-cake>.div-plaisir>div:not(.top-produit, .name, .price, .cake, .div-plaisir){
        width: 30%;
        margin-left: 2.5%;
    }

    .div-plaisir{
        margin-top: 9%;
        width: 100%;
        display: flex;  
    }

    .price{
        position: absolute;
        margin-top: -1.8%;
        margin-left: 22%;
    }

    footer{
        width: 100%;
        margin-top: 0%;
        overflow-y: hidden;
        height: 54vw;
    }

    .footer-background{
        margin-top: 5%;
        width: 100%;
    }

    .footer-logo{
        position: absolute;
        margin-top: -47%;
        margin-left: -42.8%;
        width: 8%;
    }

    .follow{
        margin-top: 7%;
        margin-left: 25%;
    }

    .reseaux{
        margin-top: -3.5%;
        margin-left: 60%;
        margin-bottom: 2%;
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .border{
        position: absolute;
        margin-top: -50%;
        margin-left: 5%;
        width: 90%;
        height: 13vw;
        border-bottom: solid var(--active);
    }

    .contact{
        position: absolute;
        width: 60%;
        margin-top: -36%;
        margin-left: 5%;
    }

    .adresse{
        margin-left: 0%;
    }

    .explorer{
        position: absolute;
        width: 60%;
        margin-top: -36%;
        margin-left: 30%;
    }

    .div-actu{
        position: absolute;
        width: 30%;
        margin-top: -36%;
        margin-left: 60%;
    }

    .actu{
        margin-top: 2%;
        width: 40%;
        margin-left: 0%;
    }

    #actualite{
        width: 44%;
    }

    .date{
        position: absolute;
        margin-left: 47%;
        margin-top: -28%;
        width: 20%;
    }

    .nom{
        position: absolute;
        margin-left: 47%;
        margin-top: -18%;
    }

    #price-up{
        padding-bottom: 10px;
    }

    .end{
        position: absolute;
        margin-top: -4%;
        margin-left: 35%;
    }
}

@media (max-width: 1081px){

    .cursor {
        display: none;
    }

    .menu{
        gap: 15%;
    }

    .circle{
        position: absolute;
        border: solid 0.5vw white;
        border-radius: 50%;
    }

    .burger{
        position: absolute;
        margin-top: -5%;
        margin-left: 90%;
        width: 3%;
    }

    .ajouter{
        background-color: var(--button);
        border-radius: 10px;
        border: none;
    }

    .logo{
        width: 6%;
        margin-left: 5%;
        margin-top: 1%;
    }

    .wallpaper{
        width: 100%;
    }

    .menu{
        display: flex;
        position: absolute;
        margin-top: -5%;
        margin-left: 21%;
    }

    .title{
        width: 37%;
    }

    .commander{
        position: absolute;
        background-color: var(--button);
        width: 20%; height: 7.5vw;
        margin-top: 30%; margin-left: 5%;
        border-radius: 10px;
        border: none;
    }

    .commander:active{
        transform: scale(0.8);
        transition: all 0.2s;
    }

    .home{
        position: absolute;
        margin-top: 8%;
        margin-left: 5%;
        width: 70%;
        height: 40%;
    }

    ul{
        padding: 0px;
    }

    .top-produit{
        margin-top: 10%;
        justify-content: center;
    }

    .burger{
        visibility: visible;
    }

    .commander{
        margin-top: 40%
    }

    #toggle:checked ~ .menu {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        margin-top: -6vw;
        margin-left: 67vw;
        width: 20vw;
        height: 40vw;
        border-radius: 5px;
        z-index: 1;
        visibility: visible;
    }

    #toggle:checked ~ li a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .menu{
        visibility: hidden;
    }

    .wallpaper{
        position: relative;
        margin-top: 0px;
        top: 0px;
    }

    .sub-title{
        position: absolute;
        margin-top: 12%;
    }

    .title{
        position: absolute;
        margin-top: 18%;
    }

    .home{
        position: absolute;
        margin-top: 10%;
        margin-left: 5%;
    }

    .produit{
        display: block;
    }

    .produit>div{
        width: 90vw;
        height: 90vw;
        margin-left: 15%;
        margin-top: 8%;
        margin-bottom: -12%;
    }

    .card{
        position: absolute;
        margin-top: 10.5%;
        margin-left: 0%;
        width: 70%;
    }

    .food{
        position: absolute;
        margin-top: 15.5%;
        width: 45%;
        margin-left: 15%;
    }

    .ajouter{
        position: absolute;
        width: 20%; height: 7.5vw;
        margin-top: 75%; margin-left: 44%;
        border-radius: 10px;
        border: none;
    }

    .ajouter:active{
        transform: scale(0.8);
        transition: all 0.2s;
    }

    .circle{
        position: absolute;
        border: solid 0.5vw white;
        margin-top: 65%;
        width: 5vw; height: 5vw;
        margin-left: 51%;
        text-align: center;
        border-radius: 50%;
    }

    .circle:focus ~ .info-bonus{
        visibility: visible;
    }

    .circle:hover ~ .info-bonus{
        visibility: visible;
    }

    .info-bonus{
        margin-top: 71%;
        margin-left: 44%;
        width: 20vw;
    }

    #baguette{
        width: 50%;
        margin-left: 11%;
    }

    .prix{
        position: absolute;
        margin-top: 66%;
        width: 60vw;
        margin-left: 7%;
    }

    .info{
        position: absolute;
        margin-top: 76.5%;
        width: 60vw;
        margin-left: 7%;
    }

    .i>p {
        margin-top: 28%;
    }

    .fond-reduction{
        margin-top: 50%;
        transform: scale(3);
        width: 100%;
    }

    .text-reduction{
        position: absolute;
        margin-top: -65%;
        margin-left: 16%;
        width: 70%;
        height: 80%;
    }

    .title-reduction{
        margin-left: 8%;
        width: 85%;
    }

    .delice{
        margin-top: 14%;
        margin-left: 20%;
        width: 60%;
    }

    .en-savoir-plus{
        width: 30%; height: 7.5vw;
        margin-top: 65%; margin-left: -65%;
    }

    .liste-gateau{
        margin-left: 10%;
    }

    #tartes{
        display: none;
    }

    .section-cake{
        overflow-y: hidden;
        display: block;
        flex-wrap: nowrap;
        margin-top: 0%;
    }

    .section-cake>.cake>div:not(.top-produit, .name, .price, .cake){
        width: 80vw;
        height: 90vw;
        margin-left: 25%;
        margin-top: 8%;
        margin-bottom: -35%;
    }

    .cake{
        margin-left: 0%;
        width: 100%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-cake{
        width: 65%;
    }

    .img-about{
        transform: scale(3);
    }

    .about-it{
        z-index: 1;
        margin-left: 43%; margin-top: 5%;
    }

    .text-p{
        margin-top: -35%; margin-left: 25%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lire-plus{
        width: 30%; height: 7.5vw;
        margin-top: 32%; margin-left: -65%;
    }

    .div-plaisir{
        margin-left: 0%;
        margin-top: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-cake>.div-plaisir>div:not(.name){
        text-align: center;
        width: 80vw;
        height: 90vw;
        margin-left: 0%;
        margin-top: 8%;
        margin-bottom: -35%;
    }

    .name{
        margin-left: 18%;
    }

    .price{
        margin-top: -3%;
        margin-left: 62%;
    }

    footer{
        height: 220vw;
    }

    .footer-background{
        margin-top: 10%;
        transform: scale(10);
        z-index: -1;
    }

    .div-footer-logo{
        text-align: center;
    }

    .footer-logo{
        margin-top: -55%;
        margin-left: -9%;
        width: 20%;
    }

    .follow{
        justify-content: space-between;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .reseaux{
        margin-top: 2%;
        margin-left: 0%;
        width: 100%;
        justify-content: space-evenly;
    }

    .border{
        margin-top: -25%;
        margin-left: 10%;
        width: 80%;
    }

    .contact{
        width: 100%;
        margin-top: -10%;
        margin-left: 0%;
    }

    .adresse{
        margin-left: 20%;
    }

    .title-reseau{
        width: 100%;
    }

    .explorer{
        width: 100%;
        margin-top: 25%;
        margin-left: 0%;
    }

    .div-actu{
        width: 100%;
        margin-top: 62%;
        margin-left: 0%;
    }

    .actu{
        margin-top: 10%;
        margin-left: 15%;
        width: 35%;
    }

    #actualite{
        width: 100%
    }

    .date{
        margin-left: 55%;
        margin-top: -23%;
    }

    .nom{
        margin-left: 55%;
        margin-top: -16%;
    }

    .end{
        margin-top: 150%;
        width: 30%;
    }
}